html {
	font-family: "Noto Sans KR", sans-serif;
}
body {
	margin: 0;
}
div,
section,
header,
footer,
p,
h1,
h2 {
	box-sizing: border-box;
}
a {
	color: royalblue;
}
img {
	max-width: 100%;
	height: auto;
}
/* wrapper */
.global-width {
	max-width: 620px;
	margin: 0 auto;
	padding: 0 1rem;
}
/* 이미지들의 컨테이너 요소 */
.scroll-graphic {
	position: sticky;
	top: 0;
	height: 100vh;
}
/* 이미지 아이템 */
.graphic-item {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.scene-img {
	max-height: 100vh;
}
/* 말풍선 */
.scroll-text {
	position: relative;
	padding-bottom: 1px;
}
.step {
	margin-bottom: 60vh;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
}
