@charset "utf-8";
@font-face {
	font-family: "Hurme";
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/HurmeGeometricSans2-Bold.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/HurmeGeometricSans2-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
dd,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul,
button {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	margin: 0;
	padding: 40px;
	box-sizing: border-box;
	background: #07101d;
	background-size: cover !important;
	font-family: "Hurme";
	font-weight: 500;
	user-select: none;
	letter-spacing: -1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}
ol,
ul,
li {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
a:active,
a:focus,
a:hover {
	text-decoration: none;
}
input,
button {
	border: 0;
	background-color: transparent;
}
input:focus,
button:focus {
	outline: none;
}
button {
	background-color: transparent;
	cursor: pointer;
}
p {
	word-break: normal;
}
img {
	vertical-align: top;
}
.blind {
	overflow: hidden;
	position: absolute;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

/* intro */
.intro_bg {
	position: fixed;
	top: -38%;
	left: 0;
	width: 2320px;
	height: 180%;
	z-index: -99;
}
.intro_bg iframe {
	opacity: 0;
	-webkit-animation: fadeBgAnimation 1s 1s forwards;
	animation: fadeBgAnimation 1s 1s forwards;
}
.intro_cont {
	position: absolute;
	max-width: 460px;
	left: 5%;
	bottom: 10%;
}
.intro_cont .intro_tit {
	position: relative;
	padding-bottom: 30px;
	font-size: 36px;
	line-height: 1;
	letter-spacing: 2px;
}
.intro_cont .intro_tit:before {
	position: absolute;
	left: 0;
	bottom: 1px;
	width: 0;
	height: 2px;
	background: #ffdc25;
	-webkit-animation: lineAnimation 1.3s 1.4s cubic-bezier(0.76, 0.01, 0.21, 1.02) forwards;
	animation: lineAnimation 1.3s 1.4s cubic-bezier(0.76, 0.01, 0.21, 1.02) forwards;
	content: "";
}
.intro_cont .intro_tit_tx {
	position: relative;
	display: inline-block;
	top: 3px;
	width: 135px;
	margin-right: 10px;
	padding: 5px 0 9px;
	color: #fff;
	vertical-align: top;
	opacity: 0;
	-webkit-animation: fadeAnimation 1s 1s forwards;
	animation: fadeAnimation 1s 1s forwards;
}
.intro_cont .intro_tit_bx {
	display: inline-block;
	/* width: 0; */
	padding: 5px 7px 9px;
	border-radius: 3px;
	background-color: #ffdc25;
	vertical-align: top;
	opacity: 0;
	-webkit-animation: growAnimation 1.3s 1.5s linear forwards;
	animation: growAnimation 1.3s 1.5s linear forwards;
}
.intro_cont .intro_desc {
	margin: 20px 0 30px;
	opacity: 0;
	color: #fff;
	font-size: 21px;
	line-height: 30px;
	letter-spacing: 1px;
	-webkit-animation: fadeAnimation 1s 1.9s forwards;
	animation: fadeAnimation 1s 1.9s forwards;
}
.intro_cont .intro_desc span {
	display: inline-block;
	color: #ffdc25;
	vertical-align: top;
}
.intro_cont .intro_btn {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/arrowDown.png) no-repeat 50% 50%;
	vertical-align: top;
	opacity: 0;
	-webkit-animation: scrollAnimation 1s 1.9s infinite;
	animation: scrollAnimation 1s 1.9s infinite;
}

/* animation */
@-webkit-keyframes fadeAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fadeOutAnimation {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes fadeOutAnimation {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@-webkit-keyframes fadeBgAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.1;
	}
}
@keyframes fadeBgAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.1;
	}
}
@-webkit-keyframes lineAnimation {
	from {
		width: 0;
	}
	to {
		width: 70px;
	}
}
@keyframes lineAnimation {
	from {
		width: 0;
	}
	to {
		width: 70px;
	}
}
@-webkit-keyframes growAnimation {
	0% {
		width: 0;
		transform: scaleX(0);
		opacity: 0;
	}
	100% {
		width: inherit;
		transform: scaleX(1);
		opacity: 1;
	}
}
@keyframes growAnimation {
	0% {
		width: 0;
		transform: scaleX(0);
		transform-origin: 0px 0px;
		opacity: 0;
	}
	100% {
		width: inherit;
		transform: scaleX(1);
		transform-origin: 0px 0px;
		opacity: 1;
	}
}
@-webkit-keyframes scrollAnimation {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 0.2;
		-webkit-transform: translateY(10px);
		-ms-transform: translateY(10px);
		transform: translateY(10px);
	}
}
@keyframes scrollAnimation {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 0.2;
		-webkit-transform: translateY(10px);
		-ms-transform: translateY(10px);
		transform: translateY(10px);
	}
}
