@charset "utf-8";
@font-face {
	font-family: "Hurme";
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/HurmeGeometricSans2-Bold.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/HurmeGeometricSans2-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
dd,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul,
button {
	margin: 0;
	padding: 0;
}
body {
	box-sizing: border-box;
	background: #07101d;
	background-size: cover !important;
	font-family: "Hurme";
	font-weight: 500;
	user-select: none;
	letter-spacing: -1px;
	cursor: url(images/ico_cursor.png), auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}
ol,
ul,
li {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
	cursor: url(images/ico_cursor_on.png), auto;
}
a:active,
a:focus,
a:hover {
	text-decoration: none;
}
input,
button {
	border: 0;
	background-color: transparent;
}
input:focus,
button:focus {
	outline: none;
}
button {
	background-color: transparent;
	cursor: url(images/ico_cursor_on.png), auto;
}
p {
	word-break: normal;
}
img {
	vertical-align: top;
}
.blind {
	overflow: hidden;
	position: absolute;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

/* header */
.header {
	position: fixed;
	top: 0;
	left: 40px;
	right: 40px;
	height: 90px;
	padding-top: 40px;
	z-index: 9;
}
.header .header_inner {
	padding-right: 50px;
	opacity: 0;
}
.header .logo {
	display: inline-block;
	font-size: 0;
	line-height: 1;
	vertical-align: top;
}
.header .logo_tx {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	padding: 5px 0 9px;
	color: #07101d;
	font-size: 26px;
	vertical-align: top;
}
.header .logo_bx {
	display: inline-block;
	padding: 5px 7px 9px;
	border-radius: 3px;
	background-color: #07101d;
	color: #ffdc25;
	font-size: 26px;
	vertical-align: top;
}
.header .nav {
	display: inline-block;
	margin-left: 50px;
	padding: 0;
	vertical-align: top;
}
.header .nav_link {
	display: inline-block;
	margin-right: 10px;
	padding: 5px;
	line-height: 30px;
	opacity: 0;
	-webkit-animation: fadeInAnimation 1s 2.5s forwards;
	animation: fadeInAnimation 1s 2.5s forwards;
}
.header .home_btn {
	position: absolute;
	top: 45px;
	right: 0;
	width: 40px;
	height: 40px;
	-webkit-animation: fadeInAnimation 1s 2.3s forwards;
	animation: fadeInAnimation 1s 2.3s forwards;
	opacity: 0;
}
.header .home_btn .ico_hamburger,
.header .home_btn .ico_hamburger:before,
.header .home_btn .ico_hamburger:after {
	position: absolute;
	top: 19px;
	right: 5px;
	width: 30px;
	height: 2px;
	background: #ffdc25;
}
.header .home_btn .ico_hamburger:before,
.header .home_btn .ico_hamburger:after {
	top: -8px;
	right: 0;
	content: "";
}
.header .home_btn .ico_hamburger:after {
	top: 8px;
	width: 20px;
}
.header .home_btn.ty_main .ico_hamburger,
.header .home_btn.ty_main .ico_hamburger:before,
.header .home_btn.ty_main .ico_hamburger:after {
	background-color: #07101d;
}
.header.ty_white .logo_tx {
	color: #fff;
}
.header.ty_white .logo_bx {
	background-color: #ffdc25;
	color: #07101d;
}
/* intro */
.portfolio_intro {
	height: 100vh;
	margin: 0;
	padding: 40px;
}
.intro_bg {
	position: fixed;
	top: -38%;
	left: 0;
	width: 2120px;
	height: 180%;
	z-index: -99;
}
.intro_bg iframe {
	opacity: 0;
	-webkit-animation: fadeBgAnimation 1s 1s forwards;
	animation: fadeBgAnimation 1s 1s forwards;
}
.intro_cont {
	position: absolute;
	max-width: 460px;
	left: 5%;
	bottom: 10%;
}
.intro_cont .intro_tit {
	position: relative;
	padding-bottom: 30px;
	font-size: 0;
	line-height: 1;
	letter-spacing: 2px;
}
.intro_cont .intro_tit:before {
	position: absolute;
	left: 0;
	bottom: 1px;
	width: 0;
	height: 2px;
	background: #ffdc25;
	-webkit-animation: lineAnimation 1.3s 1.4s cubic-bezier(0.76, 0.01, 0.21, 1.02) forwards;
	animation: lineAnimation 1.3s 1.4s cubic-bezier(0.76, 0.01, 0.21, 1.02) forwards;
	content: "";
}
.intro_cont .intro_tit_tx {
	position: relative;
	display: inline-block;
	margin-right: 5px;
	padding: 5px 0 9px;
	color: #fff;
	font-size: 36px;
	vertical-align: top;
	opacity: 0;
	-webkit-animation: fadeInAnimation 1s 1s forwards;
	animation: fadeInAnimation 1s 1s forwards;
}
.intro_cont .intro_tit_bx {
	display: inline-block;
	padding: 5px 7px 9px;
	border-radius: 3px;
	background-color: #ffdc25;
	font-size: 36px;
	vertical-align: top;
	opacity: 0;
	-webkit-animation: growAnimation 1.3s 1.1s cubic-bezier(0.76, 0.01, 0.21, 1.02) forwards;
	animation: growAnimation 1.3s 1.1s cubic-bezier(0.76, 0.01, 0.21, 1.02) forwards;
}
.intro_cont .intro_desc {
	margin: 20px 0 30px;
	opacity: 0;
	color: #fff;
	font-size: 21px;
	line-height: 30px;
	letter-spacing: 1px;
	-webkit-animation: fadeInAnimation 1s 1.9s forwards;
	animation: fadeInAnimation 1s 1.9s forwards;
}
.intro_cont .intro_desc span {
	display: inline-block;
	color: #ffdc25;
	vertical-align: top;
}
.intro_cont .intro_btn {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/arrowDown.png) no-repeat 50% 50%;
	vertical-align: top;
	opacity: 0;
	-webkit-animation: scrollAnimation 1s 1.9s infinite;
	animation: scrollAnimation 1s 1.9s infinite;
}

/* main */
.portfolio_main {
	overflow: hidden;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	padding: 40px;
	background: #ffdc25;
	opacity: 0;
	z-index: 3;
	-webkit-clip-path: polygon(226px calc(100% - 262px), 359px calc(100% - 262px), 359px calc(100% - 309px), 226px calc(100% - 309px));
	clip-path: polygon(226px calc(100% - 262px), 359px calc(100% - 262px), 359px calc(100% - 309px), 226px calc(100% - 309px));
	-webkit-transition: opacity 0.6s 0.2s, -webkit-clip-path 1s 0.6s cubic-bezier(0.79, -0.01, 0, 0.99);
	transition: opacity 0.6s 0.2s, -webkit-clip-path 1s 0.6s cubic-bezier(0.79, -0.01, 0, 0.99);
	transition: opacity 0.6s 0.2s, clip-path 1s 0.6s cubic-bezier(0.79, -0.01, 0, 0.99);
	transition: opacity 0.6s 0.2s, clip-path 1s 0.6s cubic-bezier(0.79, -0.01, 0, 0.99), -webkit-clip-path 1s 0.6s cubic-bezier(0.79, -0.01, 0, 0.99);
}
.portfolio_cont {
	height: 100%;
	padding-top: 130px;
}
.portfolio_cont .back_btn {
	position: absolute;
	bottom: 73px;
	left: 40px;
	width: 19px;
	height: 21px;
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/arrowDown.png) 50% 50%;
	background-size: cover;
	opacity: 0;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	content: "";
}
.portfolio_cont .portfolio_note {
	margin: 60px 0;
	color: #07101d;
	text-align: center;
}
.portfolio_item {
	position: relative;
	width: 700px;
	margin: 0 auto 60px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.portfolio_item .item_tit {
	position: relative;
	font-weight: bold;
	color: #060608;
	font-size: 22px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.portfolio_item .item_image {
	position: relative;
	height: 380px;
	margin-top: 20px;
	padding: 94px 94px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.portfolio_item .item_image .img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.portfolio_item .item_image .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(11, 18, 27, 0.7);
	z-index: -1;
	opacity: 1;
	-webkit-transition: opacity 0.1s, -webkit-transform 0.8s 0.7s cubic-bezier(0.79, -0.01, 0, 0.99);
	transition: opacity 0.1s, -webkit-transform 0.8s 0.7s cubic-bezier(0.79, -0.01, 0, 0.99);
	transition: opacity 0.1s, transform 0.8s 0.7s cubic-bezier(0.79, -0.01, 0, 0.99);
	transition: opacity 0.1s, transform 0.8s 0.7s cubic-bezier(0.79, -0.01, 0, 0.99), -webkit-transform 0.8s 0.7s cubic-bezier(0.79, -0.01, 0, 0.99);
	transition: all 0.2s ease 0s;
}
.portfolio_item .img_txt {
	left: 0;
	color: #ffdc25;
	font-weight: 700;
	font-size: 12px;
	opacity: 0;
	-webkit-transition: all 0.8s 0.16s cubic-bezier(0.79, -0.01, 0, 0.99);
	transition: all 0.8s 0.16s cubic-bezier(0.79, -0.01, 0, 0.99);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	opacity: 1;
	transition: all 0.2s ease 0s;
}
.portfolio_item .img_tit {
	position: relative;
	left: 0;
	margin: 22px 0 16px 0;
	color: #fff;
	font-weight: 800;
	font-size: 28px;
	line-height: 35px;
	opacity: 0;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 0.6s 0.2s;
	transition: all 0.6s 0.2s;
	opacity: 1;
	transition: all 0.2s ease 0s;
}
.portfolio_item .img_btn {
	position: relative;
	display: inline-block;
	margin-top: 14px;
	padding: 12px 40px 14px 20px;
	background: #ffdc25;
	color: #07101d;
	font-family: "Hurme";
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -1px;
	vertical-align: top;
	opacity: 0;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 0.6s 0.3s;
	transition: all 0.6s 0.3s;
	opacity: 1;
	transition: all 0.2s ease 0s;
}
.portfolio_item .img_btn:before {
	position: absolute;
	top: 16px;
	left: auto;
	right: 17px;
	width: 14px;
	height: 13px;
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/arrowbblakc.png) 50% 50%;
	background-size: cover;
	content: "";
}
.portfolio_item .ico_bx {
	opacity: 0;
	-webkit-transition: all 0.8s 0s;
	transition: all 0.8s 0s;
}
.portfolio_item .ico_scroll {
	display: inline-block;
	width: 19px;
	height: 21px;
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/arrowDown.png) 50% 50%;
	background-size: cover;
}
.portfolio_item.expand .item_tit {
	position: relative;
	top: 72px;
	left: 0;
	color: #ffdc25;
	font-weight: 800;
	font-size: 22px;
	z-index: 10;
	-webkit-transition: all 0.8s 0.4s cubic-bezier(0.79, -0.01, 0, 0.99);
	transition: all 0.8s 0.4s cubic-bezier(0.79, -0.01, 0, 0.99);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.portfolio_item.expand .item_image .img {
	-webkit-transition: all 0.8s 0.23s cubic-bezier(0.79, -0.01, 0, 0.99);
	transition: all 0.8s 0.23s cubic-bezier(0.79, -0.01, 0, 0.99);
	-webkit-transform: scale(2.9);
	transform: scale(2.9);
}
.portfolio_item.expand .item_image .overlay {
	-webkit-transition: opacity 0.1s, -webkit-transform 0.8s 0.23s cubic-bezier(0.79, -0.01, 0, 0.99);
	transition: opacity 0.1s, -webkit-transform 0.8s 0.23s cubic-bezier(0.79, -0.01, 0, 0.99);
	transition: opacity 0.1s, transform 0.8s 0.23s cubic-bezier(0.79, -0.01, 0, 0.99);
	transition: opacity 0.1s, transform 0.8s 0.23s cubic-bezier(0.79, -0.01, 0, 0.99), -webkit-transform 0.8s 0.23s cubic-bezier(0.79, -0.01, 0, 0.99);
	-webkit-transform: scale(2.9);
	transform: scale(2.9);
}
.portfolio_item.expand .img_txt {
	position: relative;
	left: -93px;
	-webkit-transition: all 0.8s 0.16s cubic-bezier(0.79, -0.01, 0, 0.99);
	transition: all 0.8s 0.16s cubic-bezier(0.79, -0.01, 0, 0.99);
}
.portfolio_item.expand .img_tit {
	position: relative;
	left: -93px;
	-webkit-transition: all 0.8s 0.19s cubic-bezier(0.79, -0.01, 0, 0.99);
	transition: all 0.8s 0.19s cubic-bezier(0.79, -0.01, 0, 0.99);
}
.portfolio_item.expand .img_btn {
	-webkit-animation: fadeOutAnimation 0.4s forwards;
	animation: fadeOutAnimation 0.4s forwards;
}
.portfolio_item.expand .ico_bx {
	position: relative;
	left: -94px;
	opacity: 1;
	-webkit-transition: all 0.8s 0.5s;
	transition: all 0.8s 0.5s;
}
/* animation */
.fadeInAnimation {
	-webkit-animation: fadeInAnimation 0.4s 0.6s forwards;
	animation: fadeInAnimation 0.4s 0.6s forwards;
}
.fadeOutAnimation {
	-webkit-animation: fadeOutAnimation 0.4s 0.6s forwards;
	animation: fadeOutAnimation 0.4s 0.6s forwards;
}
@-webkit-keyframes fadeInAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeInAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fadeOutAnimation {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes fadeOutAnimation {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@-webkit-keyframes fadeBgAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.1;
	}
}
@keyframes fadeBgAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.1;
	}
}
@-webkit-keyframes lineAnimation {
	from {
		width: 0;
	}
	to {
		width: 70px;
	}
}
@keyframes lineAnimation {
	from {
		width: 0;
	}
	to {
		width: 70px;
	}
}
@-webkit-keyframes growAnimation {
	from {
		opacity: 1;
		clip-path: polygon(0 0, 0% 0%, 0% 100%, 0% 100%);
	}
	to {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
	}
}
@keyframes growAnimation {
	from {
		opacity: 1;
		clip-path: polygon(0 0, 0% 0%, 0% 100%, 0% 100%);
	}
	to {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
	}
}
@-webkit-keyframes scrollAnimation {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 0.2;
		-webkit-transform: translateY(10px);
		-ms-transform: translateY(10px);
		transform: translateY(10px);
	}
}
@keyframes scrollAnimation {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 0.2;
		-webkit-transform: translateY(10px);
		-ms-transform: translateY(10px);
		transform: translateY(10px);
	}
}
@keyframes dragAnimation {
	0% {
		transform: rotateY(-2deg) scale(1);
	}
	100% {
		transform: rotateY(2deg) scale(1);
	}
}
/* media query */
@media (max-width: 780px) {
	.portfolio_item {
		width: 100%;
	}
	.portfolio_item .item_image {
		padding: 50px 20px;
	}
	.portfolio_item.expand .item_tit {
		top: 0;
	}
	.portfolio_item.expand .img_txt,
	.portfolio_item.expand .img_tit,
	.portfolio_item.expand .ico_bx {
		left: -20px;
	}
}
