@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
	margin: 0;
	padding: 0;
}
body,
dd,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul,
button {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 100%;
	background: #fff;
	letter-spacing: -1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}
ol,
ul,
li {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
a:active,
a:focus,
a:hover {
	text-decoration: none;
}
input,
button {
	border: 0;
	background-color: transparent;
}
input:focus,
button:focus {
	outline: none;
}
button {
	background-color: transparent;
	cursor: pointer;
}
p {
	word-break: normal;
}
img {
	vertical-align: top;
}
.blind {
	overflow: hidden;
	position: absolute;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
.line {
	-webkit-box-shadow: inset 0 -13px 0 rgba(196, 208, 184, 0.5);
	box-shadow: inset 0 -13px 0 rgba(196, 208, 184, 0.5);
}
.point {
	color: #b8cccd;
}

/* common */
.wrapper {
	overflow: hidden;
	position: relative;
	min-width: 320px;
	word-break: keep-all;
}
.inner {
	width: 900px;
	margin: 0 auto;
	padding: 0 30px;
}
.section {
	position: relative;
	padding: 80px 0 50px;
	color: #000;
	font-size: 18px;
	line-height: 1.5;
}
.section:before {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 30px;
	content: "";
}
.section_title {
	position: relative;
	display: inline-block;
	font-weight: 600;
	font-size: 34px;
	opacity: 0;
}
.section_title span {
	display: inline;
}
.section_title span:after {
	display: inline-block;
	width: 25px;
	height: 3px;
	margin: 0 0 -3px 5px;
	background-color: #000;
	-webkit-animation: 0.8s blink ease infinite;
	animation: 0.8s blink ease infinite;
	content: "";
}
.text_bx {
	opacity: 0;
}
.info_bx {
	position: relative;
	margin-top: 30px;
	border-top: 1px solid #000;
	opacity: 0;
}
.info_list {
	margin-top: 30px;
}
.info_list li {
	position: relative;
	margin: 25px 0;
	padding-left: 14px;
}
.info_list li:before {
	position: absolute;
	top: 11px;
	left: 0;
	width: 4px;
	height: 4px;
	background: #4f5a5e;
	border-radius: 2px;
	content: "";
}
.info_text {
	margin: 20px 0;
}

/* tab */
.tab_bx {
	opacity: 0;
}
.tab_list {
	overflow: hidden;
	width: 100%;
	max-width: 576px;
	margin-top: 30px;
}
.tab_list li {
	float: left;
	margin-left: 10px;
}
.tab_list li:first-child {
	margin-left: 0;
}
.tab_list li.active .tab_btn {
	background-color: #4f5a5e;
	color: #d7e2e8;
	font-weight: bold;
}
.tab_list li.active:before {
	width: 100%;
}
.tab_list .tab_btn {
	display: inline-block;
	width: auto;
	min-width: 90px;
	height: 40px;
	padding: 0 15px;
	background-color: #d1dbe1;
	border-radius: 20px;
	box-sizing: border-box;
	font-size: 15px;
	text-align: center;
}
.tab_cont {
	margin: 0 -10px;
}
.tab_pannel {
	display: none;
	margin-top: 20px;
	padding: 30px 20px;
	background: #fff;
	color: #4f5a5e;
}
.tab_pannel.active {
	display: block;
	-webkit-animation: 0.8s fadeToTop ease-out forwards;
	animation: 0.8s fadeToTop ease-out forwards;
}
.tab_title {
	font-weight: bold;
}

/* toggle */
.toggle_bx {
	opacity: 0;
}
.toggle_list {
	margin-top: 30px;
	border-bottom: 1px solid #959594;
}
.toggle_list > li {
	border-top: 1px solid #959594;
}
.toggle_list .toggle_btn {
	position: relative;
	width: 100%;
	padding: 13px 50px 13px 15px;
	text-align: left;
}
.toggle_list .toggle_btn .toggle_tit {
	overflow: hidden;
	position: relative;
	display: inline-block;
	padding-left: 30px;
	color: #000;
	font-size: 18px;
	line-height: 24px;
	vertical-align: top;
}
.toggle_list .toggle_btn .question_ico {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
}
.toggle_list .toggle_btn .toggle_ico {
	position: absolute;
	top: 50%;
	right: 24px;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	border: 1px solid #000;
	border-radius: 50%;
}
.toggle_list .toggle_btn .toggle_ico:before,
.toggle_list .toggle_btn .toggle_ico:after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 2px;
	height: 10px;
	background-color: #000;
	content: "";
}
.toggle_list .toggle_btn .toggle_ico:after {
	width: 10px;
	height: 2px;
}
.toggle_list .toggle_btn .toggle_ico .open {
	display: block;
}
.toggle_list .toggle_btn .toggle_ico .close {
	display: none;
}
.toggle_list .toggle_cont {
	overflow: hidden;
	height: 0;
	transform-origin: top center;
	border-radius: 10px;
	box-sizing: border-box;
	background: #f5f5f5;
	color: #4f5a5e;
	font-size: 16px;
	line-height: 1.6;
	opacity: 0;
}
.toggle_list .info_list {
	font-size: 16px;
	line-height: 1.6;
}
.toggle_list .info_list li:before {
	background: #4f5a5e;
}
.toggle_list .active .toggle_ico:before {
	display: none;
}
.toggle_list .active .toggle_btn .toggle_ico .open {
	display: none;
}
.toggle_list .active .toggle_btn .toggle_ico .close {
	display: block;
}
.toggle_list .active .toggle_cont {
	height: 100%;
	margin: 0 10px 20px;
	padding: 20px;
	opacity: 1;
	transition: all 0.4s;
}

/* video */
.video_bx {
	overflow: hidden;
	position: relative;
	width: 100%;
	margin-top: 30px;
	padding-bottom: 56%;
	background-color: #000;
	opacity: 0;
}
.video_bx iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* youtube */
.youtube_bx {
	margin-top: 30px;
	font-size: 0;
	opacity: 0;
}
.youtube_list li {
	position: relative;
	display: inline-block;
	width: 50%;
	padding: 30px 20px 0;
	box-sizing: border-box;
	vertical-align: top;
}
.youtube_list a {
	display: inline-block;
	width: 100%;
	padding: 30px 20px;
	background-color: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	vertical-align: top;
}
.youtube_list .youtube_poster_bx {
	overflow: hidden;
	position: relative;
	width: 100%;
	padding-bottom: 58%;
	border-radius: 10px;
}
.youtube_list .youtube_poster_bx img {
	position: absolute;
	width: 100%;
	height: 100%;
}
.youtube_list .youtube_title {
	margin-top: 15px;
	font-weight: bold;
	font-size: 18px;
}
.youtube_list .youtube_desc {
	overflow: hidden;
	display: -webkit-box;
	height: 60px;
	margin-top: 10px;
	color: #4f5a5e;
	font-size: 16px;
	line-height: 1.2;
	text-align: left;
	word-wrap: break-word;
	white-space: normal;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

/* header */
.header {
	position: relative;
	padding: 100px 0;
	background: #b8cccd;
}
.header:before {
	position: absolute;
	top: 15%;
	right: 0;
	width: 50%;
	height: 20px;
	background: -webkit-gradient(linear, left bottom, right top, color-stop(1, rgba(231, 234, 241, 0)), color-stop(0, #e7eaf1));
	-webkit-animation: 0.5s fadeToLeft 1.5s ease-out forwards;
	animation: 0.5s fadeToLeft 1.5s ease-out forwards;
	opacity: 0;
	content: "";
}
.header:after {
	position: absolute;
	bottom: 1%;
	left: 0;
	width: 60%;
	height: 25px;
	background: -webkit-gradient(linear, right bottom, left top, color-stop(1, rgba(231, 234, 241, 0)), color-stop(0, #e7eaf1));
	-webkit-animation: 0.5s fadeToRight 1.5s ease-out forwards;
	animation: 0.5s fadeToRight 1.5s ease-out forwards;
	opacity: 0;
	content: "";
}
.header .title,
.header .sub_title {
	position: relative;
	font-size: 50px;
	-webkit-animation: 0.8s fadeToRight ease-out forwards;
	animation: 0.8s fadeToRight ease-out forwards;
	font-weight: 600;
	line-height: 1.5;
	text-transform: uppercase;
}
.header .title:before {
	position: absolute;
	bottom: -10px;
	left: -30px;
	width: 100%;
	height: 55%;
	background: -webkit-gradient(linear, right bottom, left top, color-stop(1, rgba(231, 234, 241, 0)), color-stop(0, #e7eaf1));
	-webkit-animation: 0.8s fadeToRight 1s ease-out forwards;
	animation: 0.8s fadeToRight 1s ease-out forwards;
	opacity: 0;
	content: "";
}
.header .title .words {
	position: relative;
	display: block;
}
.header .sub_title {
	display: inline-block;
	margin-top: 5px;
	padding: 5px;
	background: #e7eaf1;
	font-size: 42px;
}

/* section */
.section1.effect .text_bx {
	opacity: 1;
	-webkit-animation: 0.8s fadeToTop ease-out forwards;
	animation: 0.8s fadeToTop ease-out forwards;
}
.section2 {
	background-color: #4f5a5e;
}
.section2:before {
	background-color: #fff;
}
.section2.effect .section_title {
	color: #fff;
	-webkit-animation: 0.8s fadeToRight ease-out forwards;
	animation: 0.8s fadeToRight ease-out forwards;
}
.section2 .section_title span:after {
	background-color: #fff;
}
.section2.effect .info_bx {
	border-color: #fff;
	color: #fff;
	-webkit-animation: 0.8s fadeToTop ease-out forwards;
	animation: 0.8s fadeToTop ease-out forwards;
	animation-delay: 0.8s;
}
.section2 .info_list li:before {
	background-color: #fff;
}
.section3 {
	background-color: #e7eaf1;
}
.section3:before {
	background-color: #4f5a5e;
}
.section3.effect .section_title {
	-webkit-animation: 0.8s fadeToRight ease-out forwards;
	animation: 0.8s fadeToRight ease-out forwards;
}
.section3.effect .info_bx {
	-webkit-animation: 0.8s fadeToTop ease-out forwards;
	animation: 0.8s fadeToTop ease-out forwards;
	animation-delay: 0.8s;
}
.section3.effect .tab_bx {
	-webkit-animation: 0.8s fadeToTop ease-out forwards;
	animation: 0.8s fadeToTop ease-out forwards;
	animation-delay: 1.6s;
}
.section4 {
	background-color: #e8e7e2;
}
.section4:before {
	background-color: #e7eaf1;
}
.section4.effect .section_title {
	-webkit-animation: 0.8s fadeToRight ease-out forwards;
	animation: 0.8s fadeToRight ease-out forwards;
}
.section4.effect .toggle_bx {
	-webkit-animation: 0.8s fadeToTop ease-out forwards;
	animation: 0.8s fadeToTop ease-out forwards;
	animation-delay: 0.8s;
}
.section5 {
	background-color: #4f5a5e;
}
.section5:before {
	background-color: #e8e7e2;
}
.section5.effect .section_title {
	color: #fff;
	-webkit-animation: 0.8s fadeToRight ease-out forwards;
	animation: 0.8s fadeToRight ease-out forwards;
}
.section5 .section_title span:after {
	background-color: #fff;
}
.section5.effect .info_bx {
	border-color: #fff;
	color: #fff;
	-webkit-animation: 0.8s fadeToTop ease-out forwards;
	animation: 0.8s fadeToTop ease-out forwards;
	animation-delay: 0.8s;
}
.section5.effect .video_bx {
	-webkit-animation: 0.8s fadeToTop ease-out forwards;
	animation: 0.8s fadeToTop ease-out forwards;
	animation-delay: 1.6s;
}
.section6 {
	background-color: #e8e7e2;
}
.section6:before {
	background-color: #e8e7e2;
}
.section6.effect .section_title {
	-webkit-animation: 0.8s fadeToRight ease-out forwards;
	animation: 0.8s fadeToRight ease-out forwards;
}
.section6.effect .youtube_bx {
	-webkit-animation: 0.8s fadeToTop ease-out forwards;
	animation: 0.8s fadeToTop ease-out forwards;
	animation-delay: 0.8s;
}

@media (max-width: 1279px) {
	.header .title,
	.header .sub_title {
		font-size: 42px;
	}
	.header .sub_title {
		padding: 0 3px;
		font-size: 38px;
	}
	.section {
		padding: 70px 0 50px;
		font-size: 16px;
	}
	.section:before {
		height: 20px;
	}
	.section .section_title {
		padding-right: 22px;
		font-size: 32px;
	}
	.section .section_title span:after {
		width: 18px;
		height: 2px;
	}
	.inner {
		width: auto;
	}
	.info_list li {
		margin: 15px 0;
	}
	.tab_list .tab_btn {
		min-width: 80px;
		padding: 0 10px;
	}
	.toggle_list .toggle_btn .toggle_tit {
		font-size: 16px;
	}
	.youtube_list li {
		width: 100%;
		padding: 20px 0 0;
	}
	.youtube_list .youtube_title {
		font-size: 16px;
	}
	.youtube_list .youtube_desc {
		height: 50px;
		font-size: 14px;
	}
}

/* animation */
@keyframes fadeToRight {
	from {
		opacity: 0;
		filter: alpha(opacity=0);
		-ms-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
	}
	to {
		opacity: 1;
		filter: alpha(opacity=100);
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
	}
}
@keyframes fadeToLeft {
	from {
		opacity: 0;
		filter: alpha(opacity=0);
		-ms-transform: translateX(100%);
		-webkit-transform: translateX(100%);
	}
	to {
		opacity: 1;
		filter: alpha(opacity=100);
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
	}
}
@keyframes fadeToTop {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		-ms-transform: translateY(40px);
		-webkit-transform: translateY(40px);
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
	}
}
@keyframes expandHeight {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	70% {
		opacity: 0;
	}
}
