@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
	margin: 0;
	padding: 0;
}
body,
dd,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul,
button {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 100%;
	background: #fff;
	letter-spacing: -1px;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-weight: normal;
}
ol,
ul,
li {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
a:active,
a:focus,
a:hover {
	text-decoration: none;
}
input,
button {
	border: 0;
	background-color: transparent;
}
input:focus,
button:focus {
	outline: none;
}
button {
	background-color: transparent;
	cursor: pointer;
}
p {
	word-break: normal;
}
img {
	vertical-align: top;
}
.blind {
	overflow: hidden;
	position: absolute;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
.line {
	-webkit-box-shadow: inset 0 -13px 0 rgba(196, 208, 184, 0.5);
	box-shadow: inset 0 -13px 0 rgba(196, 208, 184, 0.5);
}
.point {
	color: #b8cccd;
}

/* common */
.wrapper {
	overflow: hidden;
	position: relative;
	min-width: 320px;
	word-break: keep-all;
}
.inner {
	padding: 0 30px;
}
.section {
	position: relative;
	padding: 60px 0;
	color: #000;
	font-size: 26px;
	line-height: 1.5;
}
.section:before {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 32px;
	content: "";
}
.section:after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 32px;
	content: "";
}
.section_title {
	position: relative;
	display: inline-block;
	padding-right: 35px;
	font-weight: 600;
	font-size: 34px;
	opacity: 0;
}
.section_title:after {
	position: absolute;
	right: 1px;
	bottom: 6px;
	width: 25px;
	height: 3px;
	background-color: #000;
	-webkit-animation: 0.8s blink ease infinite;
	animation: 0.8s blink ease infinite;
	content: "";
}
.info_bx {
	position: relative;
	margin-top: 30px;
	border-top: 1px solid #000;
}
.info_list {
	margin-top: 30px;
}
.info_list li {
	position: relative;
	margin: 25px 0;
	padding-left: 14px;
	font-size: 24px;
}
.info_list li:before {
	position: absolute;
	top: 11px;
	left: 0;
	width: 4px;
	height: 4px;
	background: #000;
	border-radius: 2px;
	content: "";
}
.info_text {
	margin: 20px 0;
	font-size: 18px;
}

/* tab */
.tab_list {
	overflow: hidden;
	width: 100%;
	max-width: 576px;
	margin-top: 30px;
}
.tab_list li {
	float: left;
	margin-left: 10px;
}
.tab_list li:first-child {
	margin-left: 0;
}
.tab_list li.active .tab_btn {
	background-color: #4f5a5e;
	color: #d7e2e8;
	font-weight: bold;
}
.tab_list li.active:before {
	width: 100%;
}
.tab_list .tab_btn {
	display: inline-block;
	width: auto;
	min-width: 86px;
	height: 40px;
	padding: 0 15px;
	background-color: #d1dbe1;
	border-radius: 20px;
	box-sizing: border-box;
	font-size: 15px;
	text-align: center;
}
.tab_pannel {
	display: none;
	margin-top: 20px;
	padding: 30px 20px;
	background: #fff;
}
.tab_pannel.active {
	display: block;
	-webkit-animation: 0.8s fadeToTop ease-out forwards;
	animation: 0.8s fadeToTop ease-out forwards;
}
.tab_title {
	font-size: 24px;
}

/* header */
.header {
	position: relative;
	padding: 100px 0;
	background: #b8cccd;
}
.header:before {
	position: absolute;
	top: 15%;
	right: 0;
	width: 50%;
	height: 20px;
	background: -webkit-gradient(linear, left bottom, right top, color-stop(1, rgba(231, 234, 241, 0)), color-stop(0, #e7eaf1));
	-webkit-animation: 0.5s fadeToLeft 1.5s ease-out forwards;
	animation: 0.5s fadeToLeft 1.5s ease-out forwards;
	opacity: 0;
	content: "";
}
.header:after {
	position: absolute;
	bottom: 1%;
	left: 0;
	width: 60%;
	height: 25px;
	background: -webkit-gradient(linear, right bottom, left top, color-stop(1, rgba(231, 234, 241, 0)), color-stop(0, #e7eaf1));
	-webkit-animation: 0.5s fadeToRight 1.5s ease-out forwards;
	animation: 0.5s fadeToRight 1.5s ease-out forwards;
	opacity: 0;
	content: "";
}
.header .title,
.header .sub_title {
	position: relative;
	font-size: 50px;
	-webkit-animation: 0.8s fadeToRight ease-out forwards;
	animation: 0.8s fadeToRight ease-out forwards;
	font-weight: 600;
	line-height: 1.5;
	text-transform: uppercase;
}
.header .title:before {
	position: absolute;
	bottom: -10px;
	left: -30px;
	width: 100%;
	height: 55%;
	background: -webkit-gradient(linear, right bottom, left top, color-stop(1, rgba(231, 234, 241, 0)), color-stop(0, #e7eaf1));
	-webkit-animation: 0.8s fadeToRight 1s ease-out forwards;
	animation: 0.8s fadeToRight 1s ease-out forwards;
	opacity: 0;
	content: "";
}
.header .title .words {
	position: relative;
	display: block;
}
.header .sub_title {
	display: inline-block;
	margin-top: 5px;
	padding: 5px;
	background: #e7eaf1;
	font-size: 42px;
}

/* section */
.section1 .text {
	-webkit-animation: 0.8s fadeToTop ease-out forwards;
	animation: 0.8s fadeToTop ease-out forwards;
}
.section2 {
	background-color: #4f5a5e;
}
.section2:before {
	background-color: #fff;
}
.section2:after {
	background-color: #e7eaf1;
}
.section2 .section_title {
	color: #fff;
	-webkit-animation: 0.8s fadeToRight ease-out forwards;
	animation: 0.8s fadeToRight ease-out forwards;
}
.section2 .section_title:after {
	background-color: #fff;
}
.section2 .info_bx {
	border-color: #fff;
}
.section2 .info_list {
	opacity: 0;
	color: #fff;
	-webkit-animation: 0.8s fadeToTop ease-out forwards;
	animation: 0.8s fadeToTop ease-out forwards;
}
.section2 .info_list li:before {
	background-color: #fff;
}
.section3 {
	background-color: #e7eaf1;
}
.section3:after {
	background-color: #fff;
}
.section3 .section_title {
	-webkit-animation: 0.8s fadeToRight ease-out forwards;
	animation: 0.8s fadeToRight ease-out forwards;
}
.section3 .info_bx {
	opacity: 0;
	-webkit-animation: 0.8s fadeToTop ease-out forwards;
	animation: 0.8s fadeToTop ease-out forwards;
}
.section3 .tab_bx {
	opacity: 0;
	-webkit-animation: 0.8s fadeToTop ease-out forwards;
	animation: 0.8s fadeToTop ease-out forwards;
	animation-delay: 0.5s;
}

@media (max-width: 1279px) {
	.header .title,
	.header .sub_title {
		font-size: 42px;
	}
	.header .sub_title {
		padding: 0 3px;
		font-size: 38px;
	}
	.section {
		font-size: 18px;
	}
	.section:before {
		height: 16px;
	}
	.section:after {
		height: 16px;
	}
	.section .section_title {
		padding-right: 22px;
		font-size: 32px;
	}
	.section .section_title:after {
		width: 18px;
		height: 2px;
	}
	.info_list li {
		margin: 15px 0;
		font-size: 18px;
	}
}

/* animation */
@keyframes fadeToRight {
	from {
		opacity: 0;
		filter: alpha(opacity=0);
		-ms-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
	}
	to {
		opacity: 1;
		filter: alpha(opacity=100);
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
	}
}
@keyframes fadeToLeft {
	from {
		opacity: 0;
		filter: alpha(opacity=0);
		-ms-transform: translateX(100%);
		-webkit-transform: translateX(100%);
	}
	to {
		opacity: 1;
		filter: alpha(opacity=100);
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
	}
}
@keyframes fadeToTop {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		-ms-transform: translateY(40px);
		-webkit-transform: translateY(40px);
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
	}
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	70% {
		opacity: 0;
	}
}
